.filterItem{
    width:120px !important;
    margin:5px !important;
}


.data-grid__header{

    display: none !important
}

.data-grid__tHeadTogglea{

    display: none !important
}

.block-bottom{
    display: none !important
}

.appNav {
    display: none !important
}

.grid-stack-item{

    top: -30px !important;
    padding:0px !important;
    margin:0px !important;
}

.btn-success.btn-sma, .mt-auto, .btn-primary.btn-sm, .btn-danger, .data-grid__filterReset, .grid-stack-item__actionsBtn{
    display: none !important
}

.d-flex{margin-top: -4px !important}


